<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.wdcloud.acaeva">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/appName"
        android:name="com.community.support.SophixStubApplication"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label,android:allowBackup">
        <activity android:name="com.community.customer.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.community.customer.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.server.ServerClassifyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.server.ServerDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mine.AddressListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mine.AddressSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.order.ServerOrderSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.order.ServerOrderSelectTimeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.order.ServerOrderConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.order.GoodsOrderConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.order.RemindActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.order.ServerOrderListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.order.ServerOrderDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.order.GoodsOrderListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.order.GoodsOrderDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mine.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mall.GoodsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mine.ShoppingCartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mine.DepositActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mine.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mine.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mine.SettingNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.mine.BalanceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.other.NoticeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.community.customer.other.RecoveryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.wdcloud.acaeva.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--自动适配-->
        <meta-data
            android:name="design_width"
            android:value="375" />
        <meta-data
            android:name="design_height"
            android:value="667" />

        <!--百度地图-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="RetltElBvZ9fCnaCsai5E6NuvcTBoxvA" />

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c7e56e020365709b20000d0" />

        <!--个推-->
        <!--<meta-data android:name="PUSH_APPID" android:value="${GETUI_APP_ID}"/>-->
        <!--<meta-data android:name="PUSH_APPKEY" android:value="${GETUI_APP_KEY}"/>-->
        <!--<meta-data android:name="PUSH_APPSECRET" android:value="${GETUI_APP_SECRET}"/>-->
    </application>

</manifest>